.p-header{

    display: flex;
    align-items: center;
    justify-content: center;
    color: #38638D;
    padding: 18px 80px 0 80px;
    margin-bottom: -18px;
}
.p-navbar-icons{
 
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    align-items: center;
    width: 90%;
    padding-top: 10px;

}
