@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard {
    display: flex;
}

.p-panel-sidebar {

}

.p-panel-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F1F7FE;
}

.p-navbar {
    flex: 3%;
}

.p-main-content {
    flex: 97%;
}

.p-main-content-section{
    height: 94vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.p-main-content-section-box {
    height: 92%;
    width: 90%;
    border-radius: 26px;
    overflow: hidden;
}
