.a-header{

    display: flex;
    align-items: center;
    justify-content: center;
    color: #38638D;

}
.a-navbar-icons{
 
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    align-items: center;
    width: 90%;
    padding-top: 10px;

}
