@tailwind base;
@tailwind components;
@tailwind utilities;

.register-page{
    background-color: #B7D8F8;
    height: 90vh;
}
.reg-title{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.register-form-page{
    background-color: #38638D;
    height: 700px !important;
    margin-top: 80px;
    width: 850px !important;
    border-radius: 13px;
}
.register-form{
    width: 35vw;
    height: 60vh;
}
button.register-button{
    padding: 1rem 2rem;
    color: white;
    border-radius: 15px;
    background-color: #5999D7;
}
.register-button:hover{
    background-color: #6ea9e5;
    scale: 1.03;
    border: 1 px solid #38638D;
}
.title-heading{
    background-color: #B7D8F8;
}