/* -------------------------------------------------------------------------- */
/*                              the Patient Panel                              */
/* -------------------------------------------------------------------------- */

.p-panel-main-right{

  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


  }
.p-panel-main-right--content{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 26px;

}

.p-panel-person{
    height: 210vh;
    display: flex;
    flex-direction: column;
    
}
.p-panel-person-profile{

    height: 70vh;
    display: flex;
   /* transform: translateY(-70vh); */
   flex-wrap: wrap;
}

.p-panel-person--left, .p-panel-person--right{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.p-panel-person--left{
    border-right: 30px solid #F1F7FE;
}
/* -------------------------------------------------------------------------- */
/*             Inputs on the Person's Profile in the Patient Panel             */
/* -------------------------------------------------------------------------- */

.p-p-input, .p-p-input-radio{
    display: flex;
    height: 65px;
    width: 451px;
    border-radius: 13px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
    margin-bottom: 30px;
  
}
.p-panel-p-label, .p-p-input-image, .p-p-input-radio .gender2{

    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 100%;
    border-top-left-radius: 13px;
    border-right: 5px solid #B7D8F8;
    border-bottom-left-radius: 13px;
    background-color: #F1F7FE;
    font-size: 20px;
    color: #38638D;

}



.p-p-input-image img{
   
   width: 100%;
   height: 100%;
   margin-left: -10px;
   padding-top: 10px;
   padding-bottom: 10px;
   object-fit: cover;
}
.p-panel-p-label:hover, .p-p-input-about p:hover{
    background-color: #B7D8F8;
}

.p-panel-p-p-input, .radio-gender{
    outline: none;
    flex: 2;
    padding-left: 20px;
    height: 100%;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    color: #38638D;

}
.p-panel-p-p-input{
    font-weight: 600;
}

.radio-gender{
    display: flex;
    gap: 15px;
    justify-content: baseline;
    align-items: center;
}

.radio-gender label{
 margin-left: 5px;
}
.p-panel-p-p-input-birthdate{
    padding-right: 10px;
}

.p-panel-p-p-input::placeholder {
    opacity: 0.5;
    color: #a4a6a8 !important;
  }

  #textarea-complaints::placeholder{
    opacity: 0.5;
    color: #a4a6a8 ;
  }

  #textarea-about::placeholder{
    opacity: 0.5;
    color: #a4a6a8 ;
  }

/* -------------------------------------------------------------------------- */
/*                          Patient-Panel-Profil-Image                         */
/* -------------------------------------------------------------------------- */

.p-panel-p-profil-img{
    flex: 2;
    display: flex;
    align-items: center;
}


.p-panel-p-profil-img-right{
    height: 100%;
}
.p-panel-p-profil-img-right-label{
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #B7D8F8;
    font-size: 20px;
    color: #38638D;
    height: 50%;
  
}
.p-panel-p-profil-img-right-input{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 50%;
}
.p-panel-p-profil-img-right-input input{
    width: 80%;
    margin-left: 20px;
    
}



/* -------------------------------------------------------------------------- */
/*            About on the Person's Profile in the Patient Panel               */
/* -------------------------------------------------------------------------- */


.p-panel-main--profil-image{
    height: 160px;
}
.p-panel-p-profil-img-right-input:hover{
    background-color: #F1F7FE;
}

.p-panel-profile-save-btn{
    background-color: #B7D8F8 !important;
    padding: 20px 60px;
    color: #38638D;
    border-radius: 13px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
    font-size: 20px;
    width: 200px;
    margin-left: 50px
}
.p-panel-profile-save-btn:hover{
    background-color:#38638D !important;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
    color: white;
}

/* [required] {
 background-color: #38628d48;
} */
.p-panel-main-right input:invalid, textarea:invalid{

    /* border: 1px solid red; */
    
    box-shadow: 0px 0px 5px red;
    
    }

    .p-panel-profile-save-main-btn{
        text-align: center;
        margin-left: -50px;
    }

/* ----------------------------- Breakpoint: x3l ----------------------------- */
   
@media screen and (max-width: 1440px) { 
  
  }
  
  /* ----------------------------- Breakpoint: x2l ----------------------------- */
     
  @media screen and (max-width: 1280px) { 
   
   
  }
  
  /* ----------------------------- Breakpoint: lg ----------------------------- */
  
  @media screen and (max-width: 768px) { 
   
  }
  
  /* ----------------------------- Breakpoint: md ----------------------------- */
  
  @media screen and (max-width: 640px) { 
    
  
  }
  
  /* ----------------------------- Breakpoint: sm ----------------------------- */
  
  @media screen and (max-width: 550px) { 
  
  }