@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------------------------- */
/*                                    Main                                    */
/* -------------------------------------------------------------------------- */

.main-container{
    background-color: #B7D8F8;
    min-height: 100vh;
    position: relative;
}

.main-cardDoctor{

    padding: 240px 40px 155px 40px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 35px;

}



/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */

.nav{
    background-color: #38638D;
    height: 103px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}
.header{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding-top: 40px;
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.search-doctor-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

