@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */
/* "bg-main-dark-blue self-stretch w-full px-20 py-5 max-md:max-w-full max-md:px-5" */
@layer components {
    /*
    nav {
        @apply bg-main-dark-blue self-stretch w-full px-20 py-5 max-md:max-w-full max-md:px-5 border border-solid border-[red] flex ;
    }
   */
}
