@media (min-width: 1024px) {
  .large-screen {
    margin-left: -520px;
  }
  .button-right {
    margin-left: -420px;
  }
  .center-ul {
    gap: 60px;
  }
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  width: 100%;
  z-index: 999; /* Navbar'ın diğer içeriklerin üzerinde olmasını sağlar */
  min-height: 120px;
  box-shadow: 0 0 20px #1515165b;
}