.task-main-add{
    overflow-y: scroll;
    height: 532px;
    width: 680px;
}

.task-main-add::-webkit-scrollbar {

    width: 10px;
}

.task-main-add::-webkit-scrollbar-thumb {

    background: #d9e4f0
}

